



/*Header and first section*/







.hello_world_text{
	text-align: center;
}


/*Our Services*/

.services{
	text-align: center;
}


/*Our Team*/
.our_team{
	text-align: center;
}

/*team pictures*/

img{
	height: 185px;
	width:228px;
}