*{
	font-family: 'Source Sans Pro', sans-serif;
}

.container-fluid {
  padding: 0px;
}


/*Header and first section*/

.first_square{
		background: linear-gradient(rgba(92,27,183, 0.45), rgba(92,27,183, 0.45)), url(../img/office.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
   	max-height: 492px;
    height: 492px;
    background-position: center;
    color: white;
}
.navbar {
	position: absolute;	
}

.navbar-header {
	position: relative;
    left: 15rem;
}

.navbar-inverse .navbar-nav>li>a, .navbar-brand a {
	color:white;
	text-decoration:none;
}

.navbar-inverse .navbar-toggle, .navbar-inverse .navbar-toggle:focus, .navbar-collapse{
    border:none;
    box-shadow: none;
    -webkit-box-shadow: none;
}

.navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus {
    background-color: transparent;
}




.navbar .icon-bar {
    background-color: #fff;
}

.navbar-inverse {
	background: transparent;
    border: none;
}

/*End HEader*/
.hello_world_text{
	text-align: center;
  padding-top: 65px;
}

.hello_world_text p {
	font-weight:500px;
}

.first_square .learn_more_button {
	background-color: #5C1BB7;
	padding-left:30px;
	padding-right:30px;
	box-shadow: 0 2px 5px black;
}


/*Redefining the web*/
.redefining {
	background-color: #5C1BB7;
	color:white;
	max-height: 492px;
  height: 492px;
}

.layer_img {
  padding-left: 100px;
  padding-right: 50px;
  position: relative;
  top: -68px;
}

.layer_img img{
	width:400px;
	height:400px;
}

.layer_img, .redefine_text {
	display: inline-block;
}

.redefine_text{
	padding-top: 5%;
	margin-bottom: 10%;

}

.redefining .learn_more_button {
	border: 1px solid white;
	text-decoration: none;
	color: white;
	padding: 6px 12px;
	border-radius: 6px;
	font-size: 15px;
	position: relative;
	top: 12px;
}

/*Services*/

.services{
	text-align: center;
	background-color: #222222;
	color:white;
  margin-top: -20px;
  padding: 40px;
}

.services p{
	color:grey;
}

.services i{
	color:purple;
}

.row1 {
	padding-top: 100px;
}

.row2{
	padding-bottom: 5%;
}

/*Our Team*/
.our_team{
	text-align: center;
	padding-top: 10%;
	padding-bottom: 5%;
}

.our_team_text{
	padding-bottom: 10%;
}

.our_team h4, i{
	color:purple;
}

.our_team h5{
	color:#7D0541;
}

.team-pictures {
	padding-left: 150px;
	padding-right: 150px;
}


/*team pictures*/

img{
	height: 185px;
	width:228px;
	border-radius: 127px;
}



/*Purple Strip with sponsers */
.purple_strip{
	width: 100%;
	height: 52px;
	background-color: #5c26b4;
	text-align: center;
}

.purple_list {
	padding-top: 4px;
}

.purple_list li{
	list-style-type: none;
	display: inline;
	width: 100%;
	padding-right: 118px;
}

.purple_list img{
	width: 56px;
  height: 45px;
}

/*Contact*/
.contact{

	background-color: #222222;
	color: white;
	padding: 2% 6% 3% 6%;
}

.contact p, .contact i{
	color:grey;
}

.contact_text{
	text-align: center;
	padding-bottom: 3%;
}

input[type="text"], input[type="email"], textarea[placeholder="Message"] {
	background-color: #333333;
	border-color: #333333;
	margin-bottom: 15px;
}

.contact input[type="submit"] {
	border: 1px solid grey;
	text-decoration: none;
	padding: 6px 12px;
	border-radius: 6px;
	font-size: 15px;
	background-color: #222222;
	color: grey;
}




/*Footer*/
footer{
	background-color: #1f1f1f;
	padding: 2% 6% .3% 4%;
}



.contact_list li{
	text-decoration: none;
	list-style-type:none;
}

.contact_list a{
	color:grey;
}


.title_contact{
	color:white;
}

.border{
	margin-top: 10px;
	border: thin solid rgba(128,128,128,.1);
	margin-left: 3%;
}

footer .copyright {
	margin-left: 3%;
	padding-top: 18px;
}



/*MEDIA QUERIES*/


/*mobile*/
@media (max-width: 450px) {
	.navbar {
   		position: fixed;
   		width:100%;
	}
	nav.navbar-inverse {
		background-color: #5C1BB7;
	    margin-bottom: 0;

	}

	.navbar-header {
		position: none;
	    left: 1rem;
	}


	.first_square {
    	max-height: 376px;
   }



	.redefining{
		position: relative;
	}

	.redefine_text h2{
		position: absolute;
	    top: 0;
	    left: 16%;
	}


	.layer_img {
		position: absolute;
    	top: 70px;
    	left: 3%;

	}

	.layer_img img {
		width: 150px;
		height: 150px;
	}

	.redefine_text .redefine_p{
		position: absolute;
	    bottom: 92px;
	    left: 16%;
	}

	.redefining .learn_more_button {
		position: absolute;
	    bottom: 48px;
	    top: initial;
	    left: 37%;
	}

	.team-pictures {
		padding-left: 0;
    	padding-right: 0;
	}

	.purple_list li {
	    padding-right: 52px;
	}

	.row {
	    margin-right: 0;
	    margin-left: 0;
	}

	.footer_row{
		height: 229px;
	}

	.support{
		position: relative;
    	right: 2px;
    	bottom: -5px;
	}

	.apps{
		position: relative;
	    right: 0px;
	    top: 9px;
	}

	
}
/*tablet*/
@media only screen 
  and (min-width:500px) and (max-width:1024px) {
	.redefining{
		position: relative;
	}

	.redefine_text h2{
		position: absolute;
	    top: 0;
	    left: 38%;
	}


	.layer_img {
		padding-left: 56px;
	    padding-right: 15px;
	    position: relative;
	    top: 68px;

	}

	.layer_img img {
		width: 374px;
    	height: 400px;
	}

	.redefine_text .redefine_p{
		position: absolute;
	    bottom: 92px;
	    left: 60%;
	    top: 32%;
	}

	.redefining .learn_more_button {
		position: absolute;
	    bottom: 48px;
	    top: initial;
	    left: 60%;
	}

	.support{
		position: absolute;
	    bottom: -37px;
	    margin-bottom: 18px;
	}

	.border{
		margin-top: 37px;
	}

	




  }



